html,
body,
#cover,
#survey {
    height: 100%;
}


h1 {
   padding-top: 18%;
}

.btn-lg {
    margin-top: 10%;
    background-color: #00e5ee;
    border-style: none;
    text-transform: uppercase;
    padding: 16px 41px;
}


.btn-lg:hover {
    color: #00e5ee;
    border-style: none;
    background-color: white;
}

#survey {
    background: url('images/anket-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.survey-top {
    padding-top: 8%;
}

.form {
    margin: 0 auto;
}

.form-control {
    border-radius: 0px !important;
}


.btn-primary{
    border-radius: 0px !important;
}